*{
   box-sizing: border-box;
}

h1{
    color:red;
    font-size: 60px;
    text-align: center;
 }

 h2{
    color:black;
    text-align: center;

 }

 h3{
    color:black;
     text-align: center;
 }
 
 h4{
    color:white;
    font-size: 40px;
 }

 h5{
    color:white;
    font-size: 40px;

 }



 body{
    background-color :gold;
  


 }



 .box{  
    border: 2px solid;
    padding: 25px;
    
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

 }